{% assign e = include.entry %}
{% assign cat = site.data.categories | where: "key", e.category | first %}
{% assign st = site.data.statuses | where: "key", e.status | first %}
<article class="row"
  data-date="{{ e.incident_date | date: '%Y%m%d' }}"
  data-country="{{ e.country }}"
  data-status="{{ st.name }}"
  data-text="{{ e.title | downcase }} {{ cat.name | downcase }} {{ e.country | downcase }}">
  <a href="{{ e.url }}"><h2 class="row__title">{{ e.title }}</h2></a>
  <div class="row__meta">
    <time datetime="{{ e.incident_date | date: '%Y-%m-%d' }}">{{ e.incident_date | date: "%Y.%m.%d" }}</time>
    <a href="/category/{{ cat.slug }}/">{{ cat.name }}</a>
    <span>{{ e.country }}</span>
    <span>{{ st.name }}</span>
  </div>
</article>